*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: Url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

a{
    text-decoration: none;
}

form{
    width: 28%;
    height: 70%;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    border: 2px solid darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form *{
    margin-bottom: 10px;
}

form h1{
    font-size: 50px;
}

.username-container,.email-container , .password-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
}

input{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
}


button{
    width: 85%;
    height: 45px;
    border-radius: 50px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    color: black;
    background-color: white;
    font-size: 20px;
}

button:hover{
    background-color: transparent; 
    border: 2px solid white;
    color: white;
}

i{
    position: absolute;
    right: 0;
}


@media screen and (max-width : 1500px){
    form{
        width: 40%;
    }
}

@media screen and (max-width : 1000px){
    form{
        width: 50%;
    }
}

@media screen and (max-width : 800px){
    form{
        width: 60%;
    }
}

@media screen and (max-width : 600px){
    form{
        width: 80%;
    }
}

@media screen and (max-width : 400px){
    form{
        width: 85%;
    }
}